/* layout containers*/

*{
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    color: black;
    width: 70%;
    margin: 0 auto;
    font-weight:bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: .95em;
    margin-bottom: 1.8em;
}
li{
    
    list-style: none;
}
.name{
    margin: 0;
    color: navy;
}
h2,
h3,
h1{
    margin-top: 0;
text-shadow: 8px 8px 8px paleturquoise;
}
.wrapper{
    color: saddlebrown;
}

h2,
h3,
a{
    color:darkred;
}

h2,
h3{
    margin-top: 0;
}

img{
    max-width: 100%;
    box-shadow: inset 0 0 40px 5px red;
}*/

.name{
    font-size: 1.25em;
}

.main-nav a:hover{
    color: olivedrab;
}

.main-nav a{
font-size: .95em;
text-transform: uppercase;
color: purple;
}



.main-nav a,
.name {
 padding:  10px 15px ; 
 text-align: center;  
}



.container{
 padding-left: 1em; 
 padding-right: 1em;  
}

.main-header{
    background: deeppink;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 30px;
    background-image: radial-gradient(
     blue, yellow,firebrick
    );
 
}


.main-footer{
     text-align: center;
     padding: 2sem 0;
     background: rebeccapurple;
     margin-top: 30px;
}

/* media queries-----------*/

@media (max-width: 1024px){
    .primary col,
    .secondary col{
        width: 90%;
    }
    
}


    .container{
        width: 100%;
        max-width: 1150px;
        margin: 0 auto;
        border: blueviolet;
    }

  /* .tagline{
       font-size: 1.4em;
   }*/
    

    .name,
    .main-nav li{
display: inline;
    }


  /* img{
       width: 300px;
       float: left;
       margin-top: 5px;
       margin-right: 25px;
       margin-bottom: 25px;
       padding: 10px;
    

   }*/
   img{
       float: left;
    
     
   }

  
.auto-slider{
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    padding:  10px 10px 10px;
    background: coral;
    max-width: 720px;
    margin: 10px ;
    margin-left: 10px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 1px 6px blue;
}

   
   div#slider {overflow: hidden;}
   div#slider figure img
    {width: 20%; float: left;}
   div#slider figure{
       position: relative;
       width: 500%;
       margin: 0;
       left: 0;
       text-align: left;
       font-size: 0;
       animation: 25s sliding ease infinite;
   }
   
   /*slider indicator*/
   .indicator{
       width: 100%;
       max-width: 720px;
       height: 6px;
       background: lightblue;
       position: absolute;
       bottom: 0;
       animation: indicating 5s ease infinite;
   }
  
/* css animation that automatic play the slider*/

@keyframes sliding{
    0%{left: 0%; }
    20%{left: -100%;}
    40%{left: -200%;}
    60%{left: -300%;}
    80%{left: -400%;}
    100%{left: 0%;}
}        


@keyframes indicating {
    from{
        left: -100%;
    }
        to{
        left: 0;
        }

    }
   .col{
       float: left;
       padding-left:1em;
       padding-right:1em
   }
   .primary{
       width: 40%;
   }

   .secondary{
       width: 30% ;
   }

   .kellner{
       color: tomato;
       
   }
   .artz{
       color: navy;
   }
   .tee{
       color: mediumvioletred;
   }
   .wasser{
       color: red;
   }

   /*positioning styles*/

 .babie{
    padding: 10px;
    background: blue;
    border-radius: 5px;
    margin: 45px auto;
    box-shadow: 0 1.5px 0 0 rgb(0,0,0,0,1);
 }
 .item{
     color: black;
     padding: 15px;
     margin: 5px;
     background:green ;
     border-radius: 3pxss;
 }

/*Link styles*/
a{
    text-decoration: none;
    color: black
}
a:hover{
    color: crimson;
}
